<!DOCTYPE html>
<html lang="en">
<head>
    <title>Precision Pools</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- <meta name="something here" content="something here" /> -->
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <header>
        <a class="header-link" href="index.html"><img id="logo" src="noun-pool-5430845.svg" alt="company-logo"/></a>
        <h1><a class="header-link" href="index.html">Precision Pools</a></h1>
    </header>
        <nav>
            <ul>
                <li><a href="company-services.html">Services</a></li>
                <li><a href="past-projects.html">Projects</a></li>
                <li><a href="about-us.html">About</a></li>
                <li><a href="contact-us.html">Contact</a></li>
            </ul>
        </nav>
    <main>
    </main>
</body>
</html>